.container {
    width: 944px;
    text-align: center;
}

.container__header {
    height: 80px;
    text-align: left;
    font-size: 28px;
}

.container__header__text::selection {
    color: #fff;
    background: var(--primary-color);
}

.container__content {
    height: 607px;
    margin-top: -30px;
    background-color: #f5f5ff;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    padding-top: 36px;
}